body {
  background-color: white;
}
div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
div span {
  text-align: center;
  text-transform: uppercase;
  color: white;
  line-height: 1;
  font-weight: bold;
  font-size: 80px;
  letter-spacing: 5px;
  mix-blend-mode: difference;
  font-style: italic;
  position: relative;
  z-index: 2;
}
div span::before {
  content: " ";
  width: 200px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgb(16, 16, 16);
  animation: move 2s linear infinite;
  z-index: -1;
}
@keyframes move {
  0%,
  100% {
    left: 0;
  }
  50% {
    left: calc(100% - 180px);
  }
}
